configuration {
    modi: "run,window";
    display-window: "search open windows:";
    display-run: ">$";
    display-ssh: "ssh";
    terminal: "alacritty";
    font: "Hack 12";
    max-history-size: 200;
}
/*@theme: "~/.config/rofi/hringriin.rasi";*/
